/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
/*--------------------*/

html,
body {
	height: 100%;
	background: -moz-linear-gradient(45deg,  rgba(30,87,153,1) 0%, rgba(141,181,214,1) 28%, rgba(32,124,202,1) 68%, rgba(125,185,232,1) 100%);
	background: -webkit-linear-gradient(45deg,  rgba(30,87,153,1) 0%,rgba(141,181,214,1) 28%,rgba(32,124,202,1) 68%,rgba(125,185,232,1) 100%);
	background: linear-gradient(45deg,  rgba(30,87,153,1) 0%,rgba(141,181,214,1) 28%,rgba(32,124,202,1) 68%,rgba(125,185,232,1) 100%);
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	font-size: 16px;
}

a {
	color: #000000;
}

h2 {
	font-size: 40px;
	margin: 0px 0px 30px 0px;
	color: rgb(7, 4, 22);
	font-weight: 700;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	background: rgb(30,87,153);
background: -moz-linear-gradient(45deg,  rgba(30,87,153,1) 0%, rgba(141,181,214,1) 28%, rgba(32,124,202,1) 68%, rgba(125,185,232,1) 100%);
background: -webkit-linear-gradient(45deg,  rgba(30,87,153,1) 0%,rgba(141,181,214,1) 28%,rgba(32,124,202,1) 68%,rgba(125,185,232,1) 100%);
background: linear-gradient(45deg,  rgba(30,87,153,1) 0%,rgba(141,181,214,1) 28%,rgba(32,124,202,1) 68%,rgba(125,185,232,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 );


	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1200px;
	margin: 0px auto;
	padding: 0px 10px;
}

@media (max-width: 1182px) {
	.container {
		max-width: 970px;
		text-align: center;
	}
}
@media (max-width: 991.98px) {
	.container {
		max-width: 750px;
	}
}
@media (max-width: 767.98px) {
	.container {
		max-width: none;
		padding: 0 10px;
	}
}

@media (max-width: 1605px) {
	.moments__items,
	.button {
		max-width: 1200px;
		flex-wrap: wrap;
		justify-content: center;
		padding-bottom: 270px;
	}
	.moments__items:last-child {
		position: relative;
		margin-left: 50px;
	}
}

@media (max-width: 1182px) {
	.moments__items {
		max-width: 970px;
		flex-wrap: wrap;
		justify-content: center;
	}
}
@media (max-width: 991.98px) {
	.moments__items {
		max-width: 750px;
		flex-wrap: wrap;
		justify-content: center;
	}
	._anim-items:last-child {
		position: relative;
	}
}
@media (max-width: 767.98px) {
	.moments__items {
		max-width: none;
		position: relative;
		top: 100px;
		flex-wrap: wrap;
		align-items: center;
	}
	.button {
		margin-left: -120px;
	}
}

@media (max-width: 1605px) {
	.iphone__body {
		max-width: 1200px;
		flex-wrap: wrap;
		justify-content: center;
	}
}

@media (max-width: 1182px) {
	.why__row {
		max-width: 970px;
		flex-wrap: wrap;
	}
}
@media (max-width: 991.98px) {
	.why__row {
		max-width: 750px;
		flex-wrap: wrap;
	}
}
@media (max-width: 767.98px) {
	.why__row {
		max-width: none;
		top: 200px;
		left: 15px;
		flex-wrap: wrap;
		text-align: center;
	}
	.why__image {
		position: static;
		left: 50px;
	}
}

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}
.header:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(44, 43, 43, 0);
	z-index: 2;
}

.header__body {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
}
.header__logo {
	flex: 0 0 90px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	z-index: 3;
}
.header__logo img {
	max-width: 100%;
	display: block;
}

.header__burger {
	display: none;
}
.header__menu {
	display: block;
}

.header__menu ul {
	padding: 0;
	list-style: none;
	font: 0 -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
 }

.header__menu li,
.header__menu a {
  display: inline-block;
  font-size: 15px;
}
.header__menu a {
  color: #ffffff;
  text-decoration: none;
}


.header__list {
	display: flex;
	position: relative;
	align-items: center;
	z-index: 2;
}
.header__list li {
	position: relative;
	list-style: none;
	margin: 10px; 
}

.header__list > li > a {
	padding: 10px 20px;
	text-transform: uppercase;
 }
.header__list > li:hover > ul {
	opacity: 1;
	visibility: visible;
	margin: 0;
 }
.animenu__nav > li:hover > a {
	color: #fff;
 }
.header__list > li:focus-within > ul {
	opacity: 1;
	visibility: visible;
	margin: 0;
 }
 .header__list > li:focus-within > a {
	color: #fff;
 }

.header__link {
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	text-decoration: none;
}

.header__link .dropdown:before {
	content: "";
	position: absolute;
	border: 4px solid transparent;
	border-bottom: 0;
	border-top-color: currentColor;
	top: 50%;
	margin-top: -2px;
	right: 10px;
 }
 


 @media (max-width: 767px) {
	body.lock,
	.header__info {
		overflow: hidden;
	}
	.header__body {
		height: 50px;
	}
	.header__logo {
		flex: 0 0 50px;
	}
	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 3;
	}
	.header__burger span {
		position: absolute;
		background-color: #fff;
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before,
	.header__burger:after {
		content: "";
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before {
		top: 0;
	}
	.header__burger:after {
		bottom: 0;
	}

	.header__burger.active span {
		transform: scale(0);
	}

	.header__burger.active:before {
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}

	.header__menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		transition: all 0.3s ease 0s;
		background-color: #454642;
		padding: 70px 10px 20px 10px;
	}

	.header__menu.active {
		top: 0;
	}

	.header__list {
		display: block;
	}
	.header__list li {
		margin: 0px 0px 20px 0px;
	}
	.header__link {
		font-size: 24px;
	}
}
.dropdown:before {
	content: "";
	position: absolute;
	border: 4px solid transparent;
	border-bottom: 0;
	border-top-color: currentColor;
	top: 50%;
	margin-top: -2px;
	right: 10px;
}
.help__dropdown {
	min-width: 100%;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	margin: 20px 0 0 0;
	background-color: rgb(44, 43, 43);
	transition: margin 0.15s, opacity 0.15s;
}

.help__dropdown > li {
	width: 100%;
	border-bottom: 1px solid #f3000000;
}

.help__dropdown > li:first-child > a:after {
	content: "";
	position: absolute;
	height: 0;
	width: 0;
	left: 0;
	top: -6px;
	border: 6px solid transparent;
	border-top: 0;
	border-bottom-color: inherit;
}

.help__dropdown > li:last-child {
	border: 0;
}

.help__dropdown a {
	padding: 10px;
	width: 90%;
	border-color:rgb(44, 43, 43);
}

.help__dropdown a:hover {
	align-items: center;
	background-color: #0185ba;
	border-color: #0186ba;
	color: #fff;
}

.help__dropdown a:focus-within {
	align-items: center;
	background-color: #0186ba;
	border-color: #0186ba;
	color: #fff;
}

.help__dropdown--active {
	display: block !important;
}
.help__dropdown--active .help__dropdown {
	display: block;
}

.info__block{
	display: flex;
	position: relative;
	right: -50px;
	margin-right: 50px;
}
.info__block p {
	color: rgb(255, 255, 255);
}

.page {
	background-color: rgba(44, 43, 43);
	position: relative;
	z-index: 2;
}
._container {
	max-width: 1400px;
	padding: 0px;
	margin: 0px auto;
}

.fullscreen {
	flex: 1 1 auto;
	position: relative;
	min-height: 100vh;
	margin-bottom: -100px;
}


.fullscreen__image {
	position: relative;
	height: 100%;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}

.moments {
	display: flex;
	background-color: #00000000;
}
.moments__container {
	margin-top: -600px;
}
.moments__items {
	display: flex;
	margin: 0px -20px;
}
.moments__item {
	flex: 0 1 20%;
	padding: 0px 20px;
	text-align: center;
}

.moments__image {
	width: 250px;
	height: 200px;
	border-width: 50px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	margin: 0px -10px 10px 0px;
}
.moments__image img {
	position: absolute;
	background: rgba(0, 0, 0, 0.479);
	padding: 15px;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.moments__text {
	background: rgba(0, 0, 0, 0.322);
	width: 250px;
	color: #fff;
	font-size: 25px;
	font-weight: 700;
	line-height: 35px;
	margin-bottom: 15px;
}


.moments__item._active .moments__image {
	transform: scale(1);
}
.moments__item._active .moments__text {
	transform: translate(0px, 0px);
	opacity: 1;
}

.row:after,
.row:before {
	display: table;
	content: " ";
}

.button {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-decoration: none;
	position: relative;
	display: inline-flex;
	top: 30px;
	left: 50%;
	}
.button:before,
.button:after{
	content: '';
	position: absolute;
	width: 100px;
	height: 100px;
	top: -10px;
	z-index: 1;
	transition: all 0.8s ease 0s;
}
.button:before{
	animation: rotate 20s infinite linear;
}
.button:after{
	animation: rotate 25s infinite linear;
}

.button__text {
	position: relative;
	height: 60px;
	display: flex;
	justify-content:center;
	align-items: center;
	padding: 0px 30px;
	border-radius: 50px;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.849);
	letter-spacing: 4px;
	transition: all 1s ease 0s;
	top: 0;
	overflow: hidden;
	
}
.button__text:before,
.button__text:after{
	content: '';
	position: absolute;
	width: 50%;
	height: 100%;
	background-color: rgb(245, 245, 245);
	transition: all 0.8s ease 0s;
}
.button__text:before{
	left: 0;
	z-index: 2;
}
.button__text:after{
	right: 0;
}
.button__text span{
	position: relative;
	z-index: 2;
}

.button:hover:before,
.button:hover:after{
	left: 100%;
	opacity: 0;
}

.button:hover .button__text{
	top: -10px;
	color: rgb(255, 255, 255);
	transition: all 0.5s ease 0.2s;
	box-shadow: 0 5px 0px 0 #d3d3d381;
}

.button:hover .button__text:before,
.button:hover .button__text:after{
	background-color: #797979;

}

.button:hover .button__text:before{
	width: 100%;
}


.why {
	background-color: rgba(151, 151, 151, 0.486);
	flex: 1 1 auto;
	z-index: 3;
	margin-top: -130px;
}
.why__container{
	max-width: 1400px;

}
.why__row {
	display: flex;
	justify-content: space-between;
}
.why__image {
	margin: 40px;
}
.why__image img{
	position: relative;
	background: rgba(0, 0, 0, 0.479);
	padding: 15px;
	left: 20;
	object-fit: cover;

}
.why__body {
	color: #fff;
	margin: 30px;
}
.why__tytle {
	font-size: 60px;
	color: rgb(14, 9, 27);
	text-align: center;
}
.why__list {
	font-size: 20px;
	margin: 10px 0;
}

@media (max-width: 767.98px) {
	.block__img {
		display: flex;
		max-width: none;
		top: -50px;
		left: -50px;
		flex-wrap: wrap;
	}
}

@media (max-width: 767.98px) {
	.row__item {
		position: relative;
		max-width: none;
		top: -20px;
		left: -30px;
		flex-wrap: wrap;
	}
}



.footer {
	max-height: 150px;
	background: rgba(0, 0, 0, 0.445);
	z-index: 3;
}

.footer__row {
	display: flex;
	height: 150px;
	justify-content: center;
	align-items: center;
}
.footer__text {
	font-size: 14px;
	text-align: center;
	color: rgb(255, 255, 255);
}

.about {
	display: flex;
	flex: 1 1 auto;
	background-color: #000;
	z-index: 3;
}

.about__row {
	display: flex;
	height: 300px;
}
.row__list {
	display: flex;
	flex-wrap: wrap;
	width: 150px;
	flex-direction: column;
	flex: 0 1 16.667%;
	margin-top: 80px;
	margin-left: 30px;
}
.row__list img {
	margin-left: 40px;
}
.list {
	position: relative;
	padding-top: 30px;
	margin-left: 30px;
}
.list img {
	position: absolute;
	top: -120px;
}
.about__bottom {
}
.bottom__block {
	display: flex;
}
.block__img {
	display: flex;
	position: relative;
	flex: 0 1 33.333%;
	margin-left: -30px;
}

.block__img img{
	margin-left: 100px;
	margin-bottom: 50px;
}



 /* Service page*/

.image-slider {
	padding: 130px 0 70px 0;
}
.image-slider__wrapper {
	max-width: 1200px;
}
.image-slider__slide {
}
.image-slider__image {
	text-align: center;
}
.image-slider__image img {
	max-width: 100%;
}

.swiper__text {
	max-width: 500px;
	position: absolute;
	left: 30%;
	margin-top: 30px;
}


@media (max-width: 767.98px) {
	.image-slider {
		position: relative;
		top: -50px;
		right: 410px;
	}
}


.vertical {
	background: rgb(43, 43, 43);
	display: flex;
	flex: 1 1 auto;
	padding: 50px 0;
}
.vertical__title {
	text-align: center;
	margin: 0px 0px 30px 0px;
}

.vertical__body {
	max-width: 990px;
	margin: 0px auto;
}
.vertical__row {
	display: flex;
	margin: 0px -22.5px;
}

.vertical__column {
	padding: 0px 22.5px;
	flex: 0 1 33.333%;
	display: flex;
	align-items: stretch;

}


.vertical__item {
	background-color: #000000;
	border-radius: 5px;
	color: #fff;
	border: 1px solid #445162;
	display: flex;
	flex-direction: column;
	padding: 0px 0px 20px 0px;
}
.vertical__subtitle {
	display: flex;
	text-align: center;
	align-items: center;
	margin: 0 15px;
	padding: 15px 0;
	font-size: 24px;
	text-transform: uppercase;
}

.subtitle3 {
	margin-top: 15px;
}
.vertical__label {
	text-align: center;
	background-color: #fff;
	padding: 12px 0;
	color: #445162;
	font-size: 20px;
}

.label3 {
	margin-top: 10px;
}
.vertical__text {
	padding: 20px;
	font-size: 16px;
	line-height: 24px;
	flex: 1 1 auto;
}
.vertical__text p{
	margin: 0px 0px 15px 0px;
}
.vertical__text p:last-child{
	margin: 0;
}

.vertical__btn {
	display: block;
	margin: 0px 20px;
	text-align: center;
	line-height: 40px;
	background-color: #fff;
	border-radius: 5px;
	color: #445161;
	font-size: 18px;
}

@media (max-width: 767.98px) {
	.vertical__row {
		display: flex;
		max-width: none;
		position: relative;
		left: 30px;
		text-align: center;
		flex-wrap: wrap;
	}
	.vertical__column{
		margin-top: 25px;
	}
}





.tab__item {
	display: none;
 }
 .tab__item.active {
	display: block;
 }
 
 ._tabs-block {
	display: none;
 }
 ._tabs-block._active {
	display: block;
 }
 
 .tabs-block {
	flex: 1 1 auto;
	margin: 100px 50px 0px;
 }

 .tabs-block__nav:target {
	 display: block;
 }
 .tabs-block__nav {
	display: flex;
	margin: 0px -2px;
 }
 .tabs-block__item {
	flex: 0 1 33.333%;
	margin: 0px 2px;
	background-color: #ffffff;
	color: #000;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
 }
 .tabs-block__item._active {
	background-color: #000000;
	color: #fff;
 }
 .tabs-block__item img {
	 margin-left: 10px;
 }
 .tabs-block__body {
	padding: 20px 0px 0px 0px;
 }

 @media (max-width: 767.98px) {
	.tabs-block__nav {
		display: flex;
		max-width: none;
		left: 30px;
		flex-wrap: wrap;
	}
	.tabs-block__item {
		min-width: 100px;
		margin: 10px;
		position: relative;
		left: 15px;
	}
}

 
 .iphone__block,
 .ipad__block {
	 display: flex;
	 margin: 0 auto;
	 position: relative;
	 margin-bottom: 10px;
	 flex-wrap:inherit;

}
.iphone__body,
.ipad__body {
	border: 3px solid;
	margin: 0 10px;
	flex: 0 1 25%;
	background-color: rgba(59, 59, 59, 0);
	width: 200px;
	overflow: hidden;
}
.iphone__item {
}
.iphone__title,
.ipad__title {
	text-align: center;
	margin-top: 10px;
}
.iphone__image,
.ipad__image {
	margin: 10px;
	text-align: center;
}

@media (max-width: 767.98px) {
	.iphone__block,
	.ipad__block {
		display: flex;
		max-width: none;
		left: 30px;
		flex-wrap: wrap;
	}
	.iphone__body,
	.ipad__body {
		min-width: 250px;
		margin: 10px;
		position: relative;
		left: -40px;
	}
}

.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease 0s;
}
.popup.open {
	opacity: 1;
	visibility: visible;
}
.popup.open .popup__content {
	transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
	opacity: 1;
}

.popup__area {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.popup__body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
	transition: all 0.8s ease 0s;
}
.popup__content {
	background-color: #fff;
	color: #000;
	max-width: 800px;
	display: flex;
	padding: 30px;
	position: relative;
	transition: all 0.8s ease 0s;
	opacity: 0;
	transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
.popup__content_image {
	padding: 15px;
	display: flex;
}

.image__block {
	max-width: 50%;

}

.table__block {
	max-width: 50%;
	position: absolute;
	right: 5%;
	margin: 0 15px;
}

.text__block {
	position: absolute;
	bottom: 10%;
	text-align: center;
	padding: 0 15px;

}
.popup__image img {
	max-width: 50%;
	vertical-align: top;
}

.popup__close {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 20px;
	color: #000;
	text-decoration: none;
}
.popup__title {
	font-size: 40px;
	margin: 0px 0px 1em 0px;
}
.popup__text {
	max-width: 50%;
	position: absolute;
	right: 0;
	top: 30px;
}
@media (max-width: 767.98px) {
	.popup__body {
		display: flex;
		max-width: none;
		flex-wrap: wrap;
	}
}





.table {
	position: static;
	text-align: center;
	margin: 0 auto;
	font-size: 14px;
}

.table_price {
  border-collapse: collapse;
  border-left: 3px solid #000000;
  border-right: 3px solid #000000;
  border-bottom: 3px solid #000000;
  font-family: "Lucida Grande", sans-serif;
  margin: 35px;
 }
.table_price caption {
  background: #000000; 
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px  4px 0 rgba(0,0,0,.3);
  color: white;
  font-family: "Roboto Slab",serif;
  font-style: normal;
  font-size: 22px;
  text-align: center;
  margin: 0;
}
.table_price td, .table_price th {
  padding: 5px;
}
.table_price th {
  text-align: left;
  font-size: 14px;
}
.table_price tr:nth-child(2n) {
  background: #E5E5E5;
}
.table_price td:last-of-type {
  text-align: center;
}
.table_price a {
  display: inline-block;
  padding: 5px 10px;
  background: #afafaf;
  box-shadow: 2px 2px 0 0 #727272;
  position: relative;
}
.table_price a:hover {
  box-shadow: none;
  top: 2px;
  left: 2px;
}
.subtable {
	font-size: 20px;
	text-align: center;
	bottom: 8px;
	left: 25px;
	position: fixed;
}