* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(44, 43, 43, 0);
  z-index: 2;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 80px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 90px;
  flex: 0 0 90px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.header__logo img {
  max-width: 100%;
  display: block;
}

.header__burger {
  display: none;
}

.header__menu {
  display: block;
}

.header__menu ul {
  padding: 0;
  list-style: none;
  font: 0 -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.header__menu li,
.header__menu a {
  display: inline-block;
  font-size: 15px;
}

.header__menu a {
  color: #ffffff;
  text-decoration: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 2;
  font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1200 - 320)));
}

.header__list li {
  position: relative;
  list-style: none;
  margin: 10px;
  font-size: calc(14px + (30 - 20) * ((100vw - 320px) / (1200 - 320)));
  font-family: Comfortaa;
}

.header__list > li > a {
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: calc(8px + (16 - 14) * ((100vw - 320px) / (1200 - 320)));
}

.header__list > li:hover > ul {
  opacity: 1;
  visibility: visible;
  margin: 0;
}

.animenu__nav > li:hover > a {
  color: #fff;
}

.header__list > li:focus-within > ul {
  opacity: 1;
  visibility: visible;
  margin: 0;
}

.header__list > li:focus-within > a {
  color: #fff;
}

.header__link {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}

.header__link .dropdown:before {
  content: "";
  position: absolute;
  border: 4px solid transparent;
  border-bottom: 0;
  border-top-color: currentColor;
  top: 50%;
  margin-top: -2px;
  right: 10px;
}

@media (max-width: 767px) {
  body.lock,
  .header__info {
    padding-right: 10px;
  }
  .header__body {
    height: 50px;
  }
  .header__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #454642;
    padding: 70px 10px 20px 10px;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0px 0px 20px 0px;
  }
  .header__link {
    font-size: 24px;
  }
}

.dropdown:before {
  content: "";
  position: absolute;
  border: 4px solid transparent;
  border-bottom: 0;
  border-top-color: currentColor;
  top: 50%;
  margin-top: -2px;
  right: 10px;
}

.help__dropdown {
  min-width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  margin: 20px 0 0 0;
  background-color: #2c2b2b;
  -webkit-transition: margin 0.15s, opacity 0.15s;
  transition: margin 0.15s, opacity 0.15s;
}

.help__dropdown > li {
  width: 100%;
  border-bottom: 1px solid #f3000000;
}

.help__dropdown > li:first-child > a:after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  left: 0;
  top: -6px;
  border: 6px solid transparent;
  border-top: 0;
  border-bottom-color: inherit;
}

.help__dropdown > li:last-child {
  border: 0;
}

.help__dropdown a {
  padding: 10px;
  width: 90%;
  border-color: #2c2b2b;
}

.help__dropdown a:hover {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #0185ba;
  border-color: #0186ba;
  color: #fff;
}

.help__dropdown a:focus-within {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #0186ba;
  border-color: #0186ba;
  color: #fff;
}

.help__dropdown--active {
  display: block !important;
}

.help__dropdown--active .help__dropdown {
  display: block;
}

html,
body {
  height: 100%;
  font-family: Comfortaa;
  color: #fff;
  font-size: 16px;
}

body.lock {
  overflow: hidden;
}

a {
  color: #000000;
}

h2 {
  font-size: 40px;
  margin: 0px 0px 30px 0px;
  color: #070416;
  font-weight: 700;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  background: #959595;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#959595), color-stop(46%, #0d0d0d), color-stop(50%, #010101), color-stop(53%, #0a0a0a), color-stop(76%, #4e4e4e), color-stop(87%, #383838), to(#1b1b1b));
  background: linear-gradient(to bottom, #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 );
  /* IE6-9 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1182px) {
  .container {
    max-width: 970px;
    text-align: center;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: none;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 10px;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
  position: relative;
  font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1200 - 320)));
}

.about__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.about h2, .about h1 {
  font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1200 - 320)));
  color: #fff;
  padding-bottom: 50px;
}

.choice {
  font-family: Pattaya;
  font-weight: 400;
  color: #c9c2af;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer {
  max-height: 150px;
  z-index: 7;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__text {
  font-size: 14px;
  text-align: center;
  color: #d1d1d1;
}

.moments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
  position: relative;
  padding-top: 50px;
  font-family: Pattaya;
}

.moments__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1605px) {
  .moments__items,
  .button {
    max-width: 1200px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 150px;
  }
  .moments__items:last-child {
    position: relative;
    margin-left: 50px;
  }
}

@media (max-width: 1182px) {
  .moments__items {
    max-width: 970px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .flip-card {
    min-width: 250px;
    margin: 10px;
    position: relative;
    left: -40px;
  }
}

@media (max-width: 991.98px) {
  .moments__items {
    max-width: 750px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .button {
    max-width: 150px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 150px;
    position: absolute;
    left: -150px;
  }
}

@media (max-width: 767.98px) {
  .moments__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: none;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .flip-card {
    min-width: 250px;
    margin: 10px;
    position: relative;
  }
  .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-left: -85%;
    margin-bottom: 200px;
  }
}

.flip-card {
  width: 300px;
  height: 300px;
  -webkit-perspective: 8000px;
  perspective: 8000px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 20%;
  flex: 0 1 20%;
  padding: 0px 20px;
  text-align: center;
}

.flip-card img {
  padding: 15px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  text-align: center;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: white;
}

.flip-card-back {
  color: white;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flip-card-back p {
  color: #fff;
}

.card__text {
  position: relative;
  bottom: 75%;
  color: #fff;
  left: 5%;
  font-size: 25px;
  text-decoration: underline;
}

.card__text-back {
  position: relative;
  bottom: 85%;
  color: #fff;
  left: 20%;
  font-size: 25px;
  margin: 10px;
}

.card__text-back p {
  margin-top: 20px;
}

.card__text a {
  font-size: 18px;
  margin: 15px 10px;
}

.row:after,
.row:before {
  display: table;
  content: " ";
}

.button {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-decoration: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 43%;
  padding-bottom: 100px;
}

.button:before,
.button:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  top: -10px;
  z-index: 1;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.button:before {
  -webkit-animation: rotate 20s infinite linear;
  animation: rotate 20s infinite linear;
}

.button:after {
  -webkit-animation: rotate 25s infinite linear;
  animation: rotate 25s infinite linear;
}

.button__text {
  position: relative;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 30px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.849);
  letter-spacing: 4px;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  top: 0;
  overflow: hidden;
}

.button__text:before,
.button__text:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: whitesmoke;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.button__text:before {
  left: 0;
  z-index: 2;
}

.button__text:after {
  right: 0;
}

.button__text span {
  position: relative;
  z-index: 2;
}

.button:hover:before,
.button:hover:after {
  left: 100%;
  opacity: 0;
}

.button:hover .button__text {
  top: -10px;
  color: white;
  -webkit-transition: all 0.5s ease 0.2s;
  transition: all 0.5s ease 0.2s;
  -webkit-box-shadow: 0 5px 0px 0 #d3d3d381;
  box-shadow: 0 5px 0px 0 #d3d3d381;
}

.button:hover .button__text:before,
.button:hover .button__text:after {
  background-color: #797979;
}

.button:hover .button__text:before {
  width: 100%;
}

.why {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  z-index: 3;
  margin-top: -30px;
}

.why__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.why__image {
  margin: 10px;
}

.why__image img {
  position: relative;
  background: rgba(105, 105, 105, 0.479);
  padding: 10px;
  -o-object-fit: cover;
  object-fit: cover;
}

.why__body {
  color: #fff;
  margin: 10px;
}

.why__tytle {
  font-size: 50px;
  color: #6d6c6e;
  text-align: center;
}

.why__list {
  font-size: 20px;
  margin: 10px 0;
  padding-bottom: 50px;
}

@media (max-width: 1182px) {
  .why__row {
    max-width: 970px;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

@media (max-width: 991.98px) {
  .why__row {
    max-width: 750px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .why__image {
    position: relative;
    left: 30%;
  }
}

@media (max-width: 767.98px) {
  .why__row {
    max-width: none;
    top: 200px;
    left: 15px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
  }
  .why__image img {
    position: relative;
    right: 28%;
  }
  .why__tytle {
    font-size: 45px;
    padding-bottom: 25px;
  }
  .why__list {
    font-size: 18px;
    line-height: 1.5;
  }
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  z-index: 3;
  padding-bottom: 50px;
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
}

.row__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 25%;
  flex: 1 1 25%;
}

.row__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
  text-align: center;
  margin-top: 80px;
  margin-left: 30px;
}

.row__list img {
  margin-left: 40px;
}

.list {
  position: relative;
  padding-top: 30px;
  margin-left: 30px;
}

.list img {
  position: absolute;
  top: -120px;
}

.bottom__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
  margin-left: -30px;
}

.block__img img {
  margin-left: 100px;
  margin-bottom: 50px;
}

@media (max-width: 991.98px) {
  .row__item,
  .services__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .why__image {
    position: relative;
    left: 30%;
  }
}

@media (max-width: 767.98px) {
  .services,
  .row__item,
  .services__row {
    position: relative;
    max-width: 250px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    left: 5%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.bottom__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
  margin-left: -30px;
}

.block__img img {
  margin-left: 100px;
  margin-bottom: 50px;
}

/* Apple page*/
.tab__item {
  display: none;
}

.tab__item.active {
  display: block;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.tabs-block {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 25px 5px;
}

.tabs-block__nav:target {
  display: block;
}

.tabs-block__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -2px;
  padding-top: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tabs-block__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33%;
  flex: 0 1 33%;
  margin: 0px 2px;
  background-color: #ffffff;
  color: #000;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.tabs-block__item._active {
  background-color: #000000;
  color: #fff;
}

.tabs-block__body {
  padding: 10px 0px 0px 0px;
}

@media (max-width: 767.98px) {
  .tabs-block__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: none;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .tabs-block__item {
    min-width: 90px;
    margin: 10px;
    position: relative;
  }
}

.iphone__block,
.ipad__block,
.imac__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  position: relative;
  margin-bottom: 10px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.iphone__body,
.ipad__body,
.imac__body {
  border: 3px solid;
  margin: 0 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
  flex: 0 1 20%;
  background-color: rgba(59, 59, 59, 0);
  width: 250px;
  overflow: hidden;
}

.iphone__title,
.ipad__title,
.imac__title {
  text-align: center;
  margin-top: 10px;
  color: #c9c8b7;
}

.iphone__image,
.ipad__image,
.imac__image {
  margin: 10px;
  text-align: center;
}

@media (max-width: 1182px) {
  .iphone__image,
  .ipad__image,
  .imac__image {
    zoom: 70%;
  }
}

@media (max-width: 991.98px) {
  .iphone__block,
  .ipad__block,
  .imac__block {
    max-width: 970px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .iphone__body,
  .ipad__body,
  .imac__body {
    min-width: 250px;
    margin: 10px;
    position: relative;
  }
  .iphone__image {
    zoom: 80%;
  }
}

@media (max-width: 767.98px) {
  .iphone__block,
  .ipad__block,
  .imac__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: none;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .iphone__body,
  .ipad__body,
  .imac__body {
    min-width: 250px;
    margin: 10px;
    position: relative;
  }
}

.imac__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.imac__body {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  border: 3px solid;
  margin: 0 10px;
  background-color: rgba(59, 59, 59, 0);
}

.imac__item {
  text-align: center;
}

.imac__title {
  text-align: center;
  font-size: 40px;
}

.imac__image img:nth-child(0) {
  position: relative;
  top: 50px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 30px 10px;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup__content {
  background-color: #fff;
  color: #000;
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0;
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup__content_image {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image__block {
  max-width: 50%;
}

.table__block {
  max-width: 50%;
  position: absolute;
  right: 5%;
  margin: 0 15px;
}

.text__block {
  position: absolute;
  bottom: 10%;
  text-align: center;
  padding: 0 15px;
}

.popup__image img {
  max-width: 50%;
  vertical-align: top;
}

.ipad-popup__image img {
  min-width: 30%;
  position: relative;
  left: 35%;
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 14px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}

.popup__title {
  font-size: 40px;
  margin: 0px 0px 1em 0px;
}

.popup__text {
  max-width: 50%;
  position: absolute;
  right: 0;
  top: 30px;
}

@media (max-width: 767.98px) {
  .popup__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: none;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.table {
  position: static;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
}

.table_price {
  border-collapse: collapse;
  border-left: 3px solid #000000;
  border-right: 3px solid #000000;
  border-bottom: 3px solid #000000;
  font-family: "Lucida Grande", sans-serif;
  margin: 35px 0;
}

.table_price caption {
  background: #000000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 7px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  color: white;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  text-transform: none;
  font-size: 22px;
  text-align: center;
  margin: 0;
}

.table_price td,
.table_price th {
  padding: 5px;
}

.table_price th {
  text-align: center;
  font-size: 14px;
}

.table_price tr:nth-child(2n) {
  background: #e5e5e5;
}

.table_price td:last-of-type {
  text-align: center;
}

.table_price a {
  display: inline-block;
  padding: 5px 10px;
  background: #afafaf;
  -webkit-box-shadow: 2px 2px 0 0 #727272;
  box-shadow: 2px 2px 0 0 #727272;
  position: relative;
}

.table_price a:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  top: 2px;
  left: 2px;
}

.subtable {
  font-size: 20px;
  text-align: center;
  bottom: 8px;
  left: 25px;
  position: fixed;
}

.map-1,
.map-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: 150px;
  padding-bottom: 50px;
  color: #fafafa;
  font-family: Pattaya;
  font-weight: 400;
  font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1200 - 320)));
  text-align: center;
}

.contact__info a {
  color: #25ad75;
  font-size: 30px;
  font-weight: 900;
}

@media (max-width: 767.98px) {
  .map-1,
  .map-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    zoom: 73%;
  }
}

.map__image {
  padding: 5px;
}
